<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users List</title>
</head>

    <body>

    <a href="/Assignment10">Add a New User</a>

        <h1>List Users in DB:</h1>
        <h2>{% if users %}
            {% for user in users %}
            <li>{{ user.id }} <b>
                {{ user.name }}</b>
                ({{ user.email }} )</li>
            {% endfor %}
        {% endif %}</h2>

        <h2>Delete User:</h2>
        <h2> {{ delete_message}} </h2>
        <form action="delete_user" method="GET">
            User ID:<label><input name="id" type="text"></label>
            <input type="submit" value="Delete User">
        </form>

        <h2>Update User Details:</h2>
        <form action="update_user" method="GET">
            User Name:<label><input name="name" type="text"></label>
            User ID:<label><input name="id" type="text"></label>
            <input type="submit" value="Update User Details">
        </form>
    </body>
</html>